<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
    <p class="font-size-sm font-weight-medium pl-md-4">
      <a class="text-nowrap" [routerLink]="['/panel/productos/registro']"
        >Registrar nuevo<i
          class="cxi-angle-right font-size-base align-middle ml-1"
        ></i
      ></a>
    </p>
  </div>
</div>

<div class="card box-shadow-sm">
  <div class="card-header">
    <h5 style="margin-bottom: 0px">Filtro de productos</h5>
  </div>
  <div class="card-header">
    <form class="form-inline pt-2">
      <input
        class="form-control m-2"
        [(ngModel)]="filtro_title"
        name="filtro_title"
        placeholder="Titulo del producto"
      />
      <button class="btn btn-primary m-2" type="button" (click)="filtro()">
        Filtrar
      </button>
      <button class="btn btn-primary m-2" type="button" (click)="resetear()">
        Resetear
      </button>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Categoria</th>
            <th>Ventas</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody *ngIf="load_data">
          <tr>
            <td class="text-center" colspan="7">
              <div
                class="spinner-border"
                style="width: 3rem; height: 3rem"
                role="status"
              >
                <span class="visually-hidden"></span>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!load_data">
          <tr
            *ngFor="
              let product of products
                | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
              let indice = index
            "
          >
            <th scope="row">{{ indice + 1 }}</th>
            <td>
              <h6 style="padding-bottom: 0; margin-bottom: 0">
                <!-- Square thumbnail -->
                <img
                  style="width: 50px"
                  [src]="product.portada | imagen: 'productos'"
                  class="img-thumbnail rounded-0"
                  alt="Square image"
                />
                {{ product.title }}
              </h6>
            </td>
            <td>{{ product.stock }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.categoria }}</td>
            <td>{{ product.numero_ventas }}</td>
            <td>
              <div class="btn-group dropdown">
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Options
                </button>
                <div class="dropdown-menu">
                  <a
                    [routerLink]="['/panel/productos', product._id]"
                    class="dropdown-item"
                    >Edit</a
                  >
                  <a
                    class="dropdown-item"
                    style="cursor: pointer"
                    data-toggle="modal"
                    [attr.data-target]="'#delete-' + product._id"
                    >Delete</a
                  >
                  <a
                    [routerLink]="['/panel/productos/inventario', product._id]"
                    class="dropdown-item"
                    >Inventario</a
                  >
                </div>
              </div>

              <div
                class="modal fade"
                id="delete-{{ product._id }}"
                tabindex="-1"
                style="display: none"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Eliminar, {{ product.title }}</h4>
                      <button
                        class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Desea eliminar este product?</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        class="btn btn-secondary btn-sm"
                        type="button"
                        data-dismiss="modal"
                      >
                        Cancelar
                      </button>
                      <button
                        class="btn btn-primary btn-shadow btn-sm"
                        (click)="deleteProduct(product._id)"
                        type="button"
                      >
                        Si, eliminar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer" *ngIf="products">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="products.length"
    >
    </ngb-pagination>
  </div>
</div>
